<form class="form-signin" (submit)="saveMobileNumber(mobile)" [formGroup]="loginForm">
  <div class="logo-container">
    <img class="mb-4" src="https://angular.io/assets/images/logos/angular/angular.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  </div>
  <div class="form-group">
    <label for="inputMobile" class="sr-only">Mobile number</label>
    <input type="text" class="form-control" formControlName="mobile" autocomplete="off" placeholder="Enter Mobile no." />
    <small class="text-danger" *ngIf="loginForm.touched && loginForm.invalid">Please enter a valid mobile number</small>
  </div>
  <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
